body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(45, 220, 247);
}

.title {
  color: rgb(16, 3, 3);
  font-size: 4em;
  padding: 20px;
  background-color: rgb(255, 234, 0);
  border-bottom: 10px solid black;
}

article {
  display: grid;
  justify-items: center;
  max-width: fit-content;
  background-color: rgb(242, 176, 242);
  margin: 30px;
  border-radius: 5px;
  padding: 15px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
            
}

article img{
  height: 200px;
  max-width: 350px;
  overflow: hidden;
  width: auto;
  border-radius: 5px;
}

article h1 {
  font-size: 2.5em;
}

main div {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr;
}

article button {
  background-color: rgb(137, 198, 51);
  margin: 10px;
  width: 100px;
  color: white;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

article button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form {
  display: grid;
  justify-content: center;
}

form input {
  margin: 10px;
  width: 40vw;
  padding: 5px;
}

.adder {
  margin: 20px;
  padding: 10px;
  border-radius:30px;
  font-size: 2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.creator {
  margin: 10px;
  padding: 5px;
  border-radius:30px;
  font-size: 1.5em;
  width: 200px;
  justify-self: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}